<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
<h2>Запит на скидання пароля</h2>
<p>Цей посилання діє протягом <strong th:text="${expirationMinutes}">N</strong> хвилин.</p>
<p>Натисніть <a th:href="${resetLink}">тут</a>, щоб перейти на сторінку відновлення пароля.</p>
<p>Якщо ви не запитували скидання пароля, просто проігноруйте цей лист.</p>
</body>
</html>
